@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-sand-50 text-forest-900 antialiased;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbdcd1;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a2c2af;
}
